body {
    font-family: sans-serif;
    background-color: #F2F559;
    margin-top: 200px;
}

.center1 {
    text-align: center;
   
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

